.main-container {
  margin-top: 10rem; }

.login-container {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto; }
  .login-container:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    line-height: 0; }

.wishlist-table img {
  max-width: 10rem; }

.wishlist-table .remove-btn {
  border: none; }

.wishlist-table td {
  vertical-align: middle !important; }

.user-dropdown {
  padding-top: 8px; }
  .user-dropdown .btn {
    background: transparent;
    color: #9d9d9d;
    border: none; }
