.main-container {
  margin-top: 10rem; }

.login-container {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto; }
  .login-container:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    line-height: 0; }

.home .home-panel {
  text-align: center; }

.home .product-item img {
  max-width: 20rem; }

.home .home-carousel .carousel-caption {
  top: 30%; }
  .home .home-carousel .carousel-caption h1 {
    font-size: 8rem; }
  .home .home-carousel .carousel-caption p {
    font-size: 2rem; }

.home .home-carousel img {
  filter: brightness(50%); }

.wishlist-table img {
  max-width: 10rem; }

.wishlist-table .remove-btn {
  border: none; }

.wishlist-table td {
  vertical-align: middle !important; }

.product-list {
  margin-top: 2rem; }
  .product-list .jumbotron {
    padding: 1rem;
    text-align: center; }
  .product-list .media-object {
    max-width: 10rem; }
  .product-list .media-body {
    position: relative; }
    .product-list .media-body .btn {
      position: absolute;
      top: 2.5rem; }
      .product-list .media-body .btn.edit {
        right: 6rem; }
      .product-list .media-body .btn.remove {
        right: 1rem; }

.product-details .product-img {
  max-width: 50rem; }

.product-details .product-price {
  margin-top: 3rem; }

.product-details .product-actions {
  max-width: 60%;
  margin-top: 5rem; }
  .product-details .product-actions .btn {
    display: block;
    margin-top: 1rem; }

.product-thumb {
  max-width: 150px; }

.user-dropdown {
  padding-top: 8px; }
  .user-dropdown .btn {
    background: transparent;
    color: #9d9d9d;
    border: none; }
