<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="home">SocSystem</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="user">
          <a ui-sref="login">Entrar</a>
        </li>
        <li ng-hide="user">
          <a ui-sref="signup">Criar conta</a>
        </li>
        <li>
          <user-dropdown></user-dropdown>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container main-container home">

  <div class="home-panel jumbotron">
    <h1>SALE</h1>
    <p>Produtos da temporada 2016 com até 50% de desconto</p>
    <p><a class="btn btn-primary btn-lg" ui-sref="products" role="button">Saiba mais</a></p>
  </div>

  <hr>

  <!-- Title -->
  <div class="row">
    <div class="col-lg-12">
      <h3>Mais vendidos</h3>
    </div>
  </div>
  <!-- /.row -->

  <!-- Page Features -->
  <div class="row text-center">

    <div class="col-md-3 col-sm-6 product-item" ng-repeat="product in aProducts">
      <div class="thumbnail">
        <img ng-src="{{product.img}}" alt="">
        <div class="caption">
          <h3>{{product.title}}</h3>
          <p>{{product.description}}</p>
          <p>
            <a href="#" class="btn btn-primary">Comprar</a>
            <a href="#" class="btn btn-default">Saiba mais</a>
          </p>
        </div>
      </div>
    </div>

  </div>
  <!-- /.row -->

  <hr>

</div>
<!-- /.container -->
