<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="home">SocSystem</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="user">
          <a ui-sref="login">Entrar</a>
        </li>
        <li ng-hide="user">
          <a ui-sref="signup">Criar conta</a>
        </li>
        <li>
          <user-dropdown hide-wishlist-option="true"></user-dropdown>
        </li>

      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container main-container">
  <h2>Carrinho de compras</h2>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Produto</th>
        <th>Preço</th>
        <th>Quantidade</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="product in aShoppingCartProducts">
        <td class="col-md-2">
          <img class="product-thumb" ng-src="{{product.img}}">
        </td>
        <td class="col-md-4">
          {{product.name}}
        </td>
        <td class="col-md-3">
          R$ {{product.price}}
        </td>
        <td class="col-md-2">
          <input type="number" ng-model="product.quantity"></input>
        </td>
        <td class="col-md-1">
          <button type="button" class="btn btn-default remove-btn" ng-click="removeProductClick(product)">
            <i class="glyphicon glyphicon-remove"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="subtotal-container" ng-show="calculateSubtotal() > 0">
    <h3>Detalhes da compra</h3>
    <span style="display: block;" ng-repeat="product in aShoppingCartProducts" ng-show="product.quantity > 0">{{product.name}}  x{{product.quantity}}</span>
    <hr/>
    <h4>Total: R$ {{calculateSubtotal()}}</h4>
    <button type="button" class="btn btn-default" ng-click="openCheckoutModal()">Comprar</button>
  </div>
</div>

<!-- MODALS -->
<div class="modal fade remove-product-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Confirmar</h4>
      </div>
      <div class="modal-body">
        <p>Tem certeza que deseja remover este produto de seu carrinho de compras?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="confirmRemoveProduct()">Sim</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade checkout-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h3 style="padding-bottom: 2rem">Total da compra: R$ {{calculateSubtotal()}}</h3>
        <form>
          <div class="form-group">
            <label>Nome completo</label>
            <input type="text" name="CardName" class="form-control" ng-model="oCard.name">
          </div>
          <div class="form-group">
            <label>Número do cartão</label>
            <input type="text" name="CardNumber" class="form-control" ng-model="oCard.number">
          </div>
          <div class="form-group">
            <label>Data de expiração</label>
            <input type="text" placeholder="MM / AAAA" name="CardExpiry" class="form-control" ng-model="oCard.expiration">
          <div class="form-group">
            <label>Código de segurança</label>
            <input type="text" name="CardCvc" class="form-control" ng-model="oCard.cvc">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="confirmCheckout()">
          Comprar
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
