<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="home">SocSystem</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="user">
          <a ui-sref="login">Entrar</a>
        </li>
        <li ng-hide="user">
          <a ui-sref="signup">Criar conta</a>
        </li>
        <li>
          <div class="dropdown user-dropdown" ng-show="user">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              {{user.name}}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownUser">
              <li><a ui-sref="shoppingCart">Carrinho</a></li>
              <li><a ui-sref="wishlist">Lista de desejos</a></li>
              <li role="separator" class="divider"></li>
              <li><a ng-click="logout()">Sair</a></li>
            </ul>
          </div>
        </li>

      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container main-container">
  <table class="table wishlist-table">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th>Produto</th>
        <th>Preço</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="product in aWishlistProducts">
        <td class="col-md-1">
          <button type="button" class="btn btn-default remove-btn">
            <i class="glyphicon glyphicon-remove"></i> 
          </button>
        </td>
        <td class="col-md-2">
          <img ng-src="{{product.img}}">
        </td>
        <td class="col-md-4">
          {{product.title}}
        </td>
        <td class="col-md-3">
          {{product.price}}
        </td>
        <td class="col-md-2">
          <button type="button" class="btn btn-default">Adicionar ao carrinho</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>