.login-container {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;

  &:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    line-height: 0;
  }
}