.product-list {
  margin-top: 2rem;

  .jumbotron {
    padding: 1rem;
    text-align: center;
  }

  .media-object {
    max-width: 10rem;
  }

  .media-body {
    position: relative;

    .btn {
      position: absolute;
      top: 2.5rem;

      &.edit {
        right: 6rem;
      }

      &.remove {
        right: 1rem;
      }
    }
  }
}